.flex-container {
    display: flex;

    flex-direction: column;

    /*this centers the text horizontally*/
    justify-content: center;

    /*this centers the text vertically*/
    align-items: center;

    height: calc(75vh);
    /* color: #ff; */
    font-size: 10rem;
    font-family:"JetBrains Mono"
}

.ff {
    /* display: flex; */

    /*this centers the text horizontally*/
    text-align: center;

    /*this centers the text vertically*/
    /* align-items: center; */

    /* height: calc(20vh); */
    /* color: #ff; */
    font-size: 2rem;
    font-family:"JetBrains Mono"
}

body{
    background-image: url(11.jpg);
    --transparent: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
    /* Safari最近版本已经不需要私有前缀了 */
    background-image: cross-fade(var(--transparent), url(11.jpg), 85%);
    /* 如使用自定义属性，-webkit-语句需要放在没有私有前缀语句的下面 */
    background-image: -webkit-cross-fade(var(--transparent), url(11.jpg), 85%);

    background-size: cover;
    background-size:100% 100%;
}